.container{
    border: 5px solid #000;
    display: flex;
    justify-content: flex-end;
}

.container > div {
    padding: 10px;
    text-align: left;
    font-size: 20px;
    color: #000;
    border: 5px solid;
    background-color: aquamarine;
}

.logo {
    margin-right: auto;
}

.box {
    display: flex;
    justify-content: flex-end;
}


